.frost_rootNode {
	position: relative;
}
.frost_detail {
	position: absolute;
	display: none;
	font-size: 10px;
	cursor: default;
  z-index: 2;
}
.frost_detail_wrapper {
  border-radius: 3px;
  padding: 0.25em;
  font-size: 12px;
  font-family: Arial, sans-serif;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  border: 1px solid rgba(0, 0, 0, 0.4);
  margin-left: 1em;
  margin-right: 1em;
  margin-top: -1em;
  white-space: nowrap;
}
.frost_overlay {
	fill: none;
    pointer-events: all;
}
.frost_legendRootNode {
	position: absolute;
	cursor: pointer;
	max-height: 200px;
	overflow-y: auto;
	/*max-width: 180px;*/
	overflow-x: hidden;
}
.frost_legendRootNode_focus {
	opacity: 0.5;
}
.forst_AreasContainer g path {
  opacity: 0.8;
}
.frost_axis text, .frost_legend_single text {
  font: 10px sans-serif;
}
.frost_axis path,
.frost_axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.frost_yAxis_withStandard line {
  stroke: #000;
  stroke-opacity: .2;
  shape-rendering: crispEdges;
}
.frost_yAxis_withStandard path {
  display: none;
}
.frost_xAxis_withStandard line {
  stroke: #000;
  stroke-opacity: .2;
  shape-rendering: crispEdges;
}
.frost_xAxis_withStandard path {
  display: none;
}
/*.frost_yAxis line {
  stroke: #777;
  stroke-dasharray: 2,2;
}*/
.frost_line {
  fill: none;
  stroke-width: 1.5px;
}
.frost_pie text {
	font: 10px Helvetica,Arial,sans-serif;
}
.frost_pie path {
  stroke: #fff;
}